/* FONT */
@font-face {
  font-family: "Diatype Variable";
  src: url("ABCDiatype-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Diatype Variable", sans-serif;
  background-color: #fcfcfc;
  color: #444444;
  line-height: 1.2;
  overflow-x: hidden;
  font-size: clamp(27px, 34px);
}

}

/* INFO TEXT */
.info {
  width: 42%;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* LINKS */
a {
  color: #444444;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #888888;
}

/* HOMEPAGE IMAGE */
.homepage-image {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  max-width: 30%;
  z-index: 10;
}

.homepage-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* FADE IN EFFECT */
.homepage-image,
.info {
  opacity: 0;
  animation: pageFadeIn 0.6s ease forwards;
  animation-delay: 0.4s;
}

@keyframes pageFadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .info {
    width: 100%;
    padding: 1rem;
  }

  .homepage-image {
    position: relative;
    max-width: 100%;
    bottom: auto;
    right: auto;
    margin: 1; 
    padding: 1rem;
  }

  .homepage-image img {
    width: 100vw;     /* full viewport width */
    height: auto;
    display: block;
  }
}
